<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>ebookServlet</servlet-name>
        <servlet-class>cn.fishland.bookportal.controller.EbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ebookServlet</servlet-name>
        <url-pattern>/ebook/*</url-pattern>
    </servlet-mapping>
</web-app>
