<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="categoryMapper">
    <!--批量新增-新增成功后返回id到参数中-参数必须是list集合-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="Category">
        insert into category ( `sort`, `status`, `name`)
        <foreach collection="array" item="category" open="values" separator=",">
            (#{category.sort}, #{category.status}, #{category.name})
        </foreach>
    </insert>

    <!--批量删除-参数必须是数组-->
    <delete id="removeById">
        delete from category where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateById" parameterType="Category">
        update category
        set `sort`   = #{sort},
            `status` = #{status},
            `name`   = #{name}
        where id = #{id}
    </update>

    <!--查询所有-->
    <select id="findAll" resultType="CategoryVo">
        select *
        from category
        <trim prefix="where" suffixOverrides="and|or">
            <if test="name!=null and name!= ''">
                `name` like "%"#{name}"%" and
            </if>
            <if test="createStart!=null">
                <![CDATA[createTime > #{createStart} and]]>
            </if>
            <if test="createEnd!=null">
                <![CDATA[createTime < #{createEnd} and]]>
            </if>
            <if test="createEnd!=null">
                <![CDATA[updateTime > #{updateStart} and]]>
            </if>
            <if test="createEnd!=null">
                <![CDATA[updateTime < #{updateEnd} and]]>
            </if>
        </trim>
        order by updateTime DESC
    </select>

    <select id="selectByName" resultType="Category" parameterType="Category">
        select * from category where name in
        <foreach collection="array" item="category" open="(" close=")" separator=",">
            #{category.name}
        </foreach>
    </select>

    <select id="selectByEbookId" resultType="Category" parameterType="int">
        select c.id, c.createTime, c.updateTime, c.sort, c.status, c.name
        from ebook_category ec
                 left join category c on ec.cid = c.id
        where ec.eid = #{eid};
    </select>
</mapper>
